.projects-list__container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: space-evenly;
  align-content: center;
  
}

.projects-list {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
}
